{% extends 'managerApp/base.html' %}
{% block body %}

<div class="modal-dialog modal-lg wow zoomIn" data-wow-duration="1s">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h2 class="modal-title" id="myModalLabel">Atencion!</h2>
			<h4>{{content}}</h4>
			<script> setTimeout(function() { jQuery('#modal').modal('hide'); }, 1000); $('body').on('hidden.bs.modal', '.modal', function () { $(this).removeData('bs.modal'); }); </script>
		</div>
         <div class="modal-footer">
             <a class="btn btn-primary" data-toggle="modal" href="{% url 'managerApp:index' %}">Aceptar</a>

            {% if permlink %}
             <a class="btn btn-success" data-toggle="modal" href="{{permlink}}">Ver publicacion</a>
            {% endif %}

         </div>
	</div>
	<!-- /.modal-content -->
</div>


{% endblock %}





