{% extends 'managerApp/base.html' %}
{% block body %}
    {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'managerApp/style_login.css' %}"/>

<div class="container">
    <div id="login" class="signin-card">
        <div class="logo-image">
            {% load staticfiles %}
            <img src="{%  static 'favicon.png' %}" alt="Logo" title="Logo" width="138" \>
        </div>
        <h3 style="text-align:center;" class="display1">Que es   <strong style='padding:0; height:33px;  font-family: "Satisfy", cursive;' >MercadoShark</strong>?</h3>
        <div class="subhead">
            <p style="text-align:justify;"><strong> MercadoShark </strong> es una aplicacion que te permite manejar mejor tus publicaciones de MercadoLibre.
             <br><br> Ya estas logeado en Mercado Libre con el usuario: <br>
                 <strong>{{user}}</strong> </p>
        </div>
        <a style="text-decoration: none;" href="{% url 'managerApp:logout_ml' %}">
            <span class="btn btn-block btn-danger" aria-hidden="true">Salir de la cuenta</span>&nbsp;
        </a>
        <form action="{% url 'managerApp:index'%}" method="post" class="" role="form">
            {% csrf_token %}
            <div>
                <button class="btn btn-block btn-info ripple-effect" type="submit" name="Submit" alt="sign in">Continuar</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}



