{% for field in form %}
    <div class="form-group row ">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="col-2 col-form-label col-sm-offset-1" for="{{field.label}}">{{ field.label_tag }}</label>
        <div class="col-4 row">
        {% if field.label_tag == description %}
            <div class="col-10">{{ field.as_textarea }}</div>
        {% elif field.label_tag == 'pictures' %}
            <div class="col-10">{{ field.button }}</div>
        {% else %}
            <div class="col-10 row">{{ field }}</div>
        {% endif %}
        </div>
    </div>
{% endfor %}