{% extends 'managerApp/base.html' %}
{% block account_active %}{{account_active}}{% endblock %}
{% block articles_active %}active{% endblock %}
{% block cuentasML %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            Filtrar por cuenta de Mercado Libre<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% for account in accounts %}
            <li>
                <form action="{% url 'managerApp:select_account'  account.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                    <input type="hidden" name="account_id" value="{{  account.id }}" />
                    <button type="submit" class="btn btn-default btn-sm">
                            {{account.username}}
                    </button>
                </form>
                <form action="{% url 'managerApp:delete_account' account.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                    <input type="hidden" name="account_id" value="{{ account.id }}" />
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </li>
            <li class="divider"></li>
            {% endfor %}
            <li>
                <a href="{% url 'managerApp:create_testUser' %}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Agregar Cuenta de Prueba
                </a>
            </li>
            <li>
                <a href="{% url 'managerApp:login_mlUser' %}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Agregar Cuenta de Mercadolibre
                </a>
            </li>
        </ul>
    </li>
{% endblock %}
{% block body %}
<div class="article-container container-fluid">

    <!-- Article -->
    <div class="row">
        {% if articles %}
            {% for article,delay in articles %}
                <div class="col-sm-6 col-lg-4 wow zoomIn" data-wow-duration=".5s" data-wow-delay="{{delay}}s">
                    <div class="thumbnail">
                        <img src="{{ article.pictures }}" class="img-responsive">
                        <div class="caption">
                            <h3>{{ article.title }}</h3>
                            <h4>Precio: ${{ article.price }}</h4>
                            <h4 style="color:#00F">Vendedor: {{ article.account.username }}</h4>
                            <a href="{{article.permalink}}" class="btn btn-primary btn-sm" role="button">Ver publicacion</a>

                            <!-- Delete Article -->
                            <form action="{% url 'managerApp:delete_articles' article.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="article_id" value="{{ article.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'managerApp:create_article' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Publicar un articulo
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}


