{% extends 'managerApp/base.html' %}
{% block account_active %}{{account_active}}{% endblock %}
{% block items_active %}active{% endblock %}
{% block body %}
    {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'managerApp/style_login.css' %}"/>

<div class="container">
    <div id="login" class="signin-card">
        <div class="logo-image">
            {% load staticfiles %}
            <img src="{%  static 'favicon.png' %}" alt="Logo" title="Logo" width="138" \>
        </div>
        <h3 style="text-align:center;" class="display1">Que es   <strong style='padding:0; height:33px;  font-family: "Satisfy", cursive;' >MercadoShark</strong>?</h3>
        <div class="subhead">
            <p style="text-align:justify;"><strong> MercadoShark </strong> es una aplicacion que te permite manejar mejor tus publicaciones de MercadoLibre.
             <br><br> Inicia sesion con tu cuenta <strong> Mercado Libre </strong> para comenzar</p>
        </div>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="{% url 'managerApp:login_mlUser'%}" method="post" class="" role="form">
            {% csrf_token %}
            <div id="form-login-username" class="form-group">
                <input id="id_username" class="form-control" name="username" type="text" size="18" alt="login" required />
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
                <label for="id_username" class="float-label">Nombre de usuario</label>
            </div>
            <div id="form-login-password" class="form-group">
                <input id="id_password" class="form-control" name="password" type="password" size="18" alt="password" required>
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
                <label for="id_password" class="float-label">Contraseña</label>
            </div>
            <div>
                <button class="btn btn-block btn-info ripple-effect" type="submit" name="Submit" alt="sign in">Agregar cuenta</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}



